.comments {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
}

.comments button {
  font: inherit;
  border-radius: 6px;
  padding: 0.5rem 1rem;

  color: #03be9f;
  border: 1px solid #03be9f;
  cursor: pointer;
}

.comments button:hover:not(:last-child),
.comments button:active:not(:last-child) {
  background-color: #03be9f;
  color: #fff;
}
.comments button:hover:last-child,
.comments button:active:last-child {
  background-color: #e3fdf8;
  color: #03be9f;
}
