.wrapper {
  margin: 4em auto;
  width: 20em;
}

.inner figure {
  padding: 1em;
  display: inline-block;
  margin-right: 1em;
  background: rgba(250, 200, 200, 0.1);
}

.inner img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 37em;
    perspective: 2000px;
  }

  .inner {
    transition: 0.3s;
    transform: rotateY(140deg);
  }

  .inner figure {
    box-shadow: -6px 6px 2px -3px rgba(100, 100, 100, 0.1);
    border: 1px solid rgba(250, 200, 200, 0.5);
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 33em;
  }
}
