.alert {
  margin: 10rem auto;
  padding: 1rem 2rem 0.1rem 2rem;
  width: 70%;
  max-width: 30rem;
  background-color: #30c67c;
  color: #82f4b1;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 6px;
}
